<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='mypage', title='Welcome!'">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
    .nickname{
        font-size: 25px;
    }
</style>
</head>
<body>
<!--메인 헤더, 푸터 받아오기-->
<div layout:fragment="content">

<!--    마이페이지 레이아웃 시작-->
    <div class="mypage">
        <div style="background-color: #cccccc">
            <div class="container py-3">
                <h1>My Page</h1>
            </div>
<!--            마이페이지 정보 컨테이너 (닉네임, 회원정보, 수정하기 버튼)-->
            <div class="mypage-info">
                <div class="container" style="height:150px; padding:30px">
                    <div class="row">
                        <div class="col-2">
                            <i class="far fa-user-circle fa-5x"></i>
                        </div>
                        <div class="col-2">
                            <p>일반회원</p>
                            <h3>닉네임</h3>
                        </div>
                        <div class="col-8">
                            <form>
                                <button class="btn btn-dark btn-sm my-3">
                                    <i class="fas fa-caret-right"></i>&nbsp;
                                    회원정보 변경
                                </button>
                            </form>
                            <p>가입일 : 00.00.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        마이페이지 사이드 (마이페이지 메뉴 리스트)
                클릭시 해당 페이지 출력 -->
        <div class="mypage-side">
            <div class="row">
                <div class="col-2" style="background-color: #e7e7e7; height:500px">
                    <div class="container m-5">
                        <p><a th:href="@{/mypage/like}">관심 작품</a></p>
                        <p><a th:href="@{/mypage/recent}">최근 본 작품</a></p>
                        <p><a th:href="@{/mypage/comment}">나의 댓글</a></p>
                        <p><a th:href="@{/mypage}">알림</a></p>
                        <p><a th:href="@{/mypage}">지갑</a></p>
                    </div>
                </div>


                <!-- 마이페이지 세부 페이지가 나타날 부분
                    ( 관심작품 / 최근 본 작품 / 나의 댓글 등등 )-->
                <div class="col-8">
                    <section layout:fragment="mypage-content"></section>
                </div>

            </div>
        </div>



    </div>
</div>
</body>
</html>