<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}"
      th:with="activeTab='workdetail', title='Welcome!'">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <script th:src="@{/js/work/workdetail.js}"></script>

  <title> View details of the work </title>
<script>
  // timer
  timer = setInterval( function () {

    $ . ajax  ( {
      type: 'GET',
      url : "/auction/computeAutionTime/[[${work.id}]]",
      dataType: 'json',
      success : function (result) {
        if(result.status === "notExistAuction"){
          $('#remain_price').html(result.result);
        }else{
          $('.days').html(result.days);
          $('.hours').html(result.hours);
          $('.minutes').html(result.minutes);
          $('.seconds').html(result.seconds);
        }
      }
    } ) ;
  } ,  1000 ) ;
</script>
<!--<link rel="stylesheet" th:href="@{/css/work/workdetail.css}" >-->


</head>
<body>
<div layout:fragment="content">

  <!-- Default Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
        <div class="text-center align-items-center mid ">
          <div class="modal-logo"><img src="https://imgur.com/N1vwiAJ.png"></div>
          <div class="modal-body pb-2">

          </div>
          <div class="modal-footer d-flex justify-content-center mb-3"> <button type="button" class="btn btn-block btn-outline-info" data-dismiss="modal" id="confirm" >확인</button> </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Auction Offer Modal -->
  <div class="modal fade" id="auctionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
        <div class="text-center align-items-center mid">
          <div class="modal-logo"><img src="https://imgur.com/N1vwiAJ.png"></div>
          <div class="modal-body pb-2">

          </div>
          <div  class="pb-2" >
            <input type="number" class="form-control mt-2" placeholder="경매가 입력 (ex. 3ETH)" id="price">
          </div>
          <div class="modal-footer d-flex justify-content-center mb-3"> <button type="button" class="btn btn-block btn-outline-info" data-dismiss="modal" id="offer" >offer</button> </div>
        </div>
      </div>
    </div>
  </div>




  <!--Auction photo and price suggestion-->
  <div class="container" >
    <div class="row" >
      <div class="col-7">

        <div class="col-12 p-5"> <img id="workpircture" th:src="${work.filePath}"> </div>
        <div class="bg-light">
          <div class="col-md-4 col-4 ps-30 pe-0 ">
          </div>

        </div>
      </div>
      <div class="col-5 py-5">
        <div class="row m-0">
          <div class="col-12 ">

            <p class="h4 m-0" th:text="${work.title}">작품A</p>
            <P class="ps-3 textmuted">Masterpiece A</P>

            <p class="textmuted">created by 작가이름</p>


          </div>
          <div class="col-12 px-0">
            <div class="row  m-0">
              <div class="col-12  my-4">
                <p class="fw-bold" id="remain_price">현재 경매가</p>
              </div>
              <div class="col-12 px-4 mb-4">
                <p class="h4 m-0"><span class="pe-1" th:text="${work.auction.winingBid}" th:id="priceSuggest"> 2ETH</span></p>

              </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 mb-4 ">
              <div class="btn btn-block btn-outline-info" id="suggest">경매가제시하기 </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Sidebar -->
  <div id = "sidebar" >
    <div class="container">
      <ul class="nav flex-column">
        <button class="nav-item">
          <i class="far fa-heart"></i>
        </button>
        <button class="nav-item">
          <i class="far fa-comment"></i>
        </button>
        <button class="nav-item">
          <i class="fas fa-share-alt"></i>
        </button>
        <button class="nav-item">
          <i class="fas fa-angle-double-up"></i>
        </button>
        <button class="nav-item">
          <i class="fas fa-angle-double-down"></i>
        </button>
      </ul>
    </div>
  </div>
  <div class="container py-md-0 py-3" id="timer" style = " margin-top:50px " >

    <!-- Artwork Information and Price Suggestion -->
    <!--   <div id = "work-detail"> -->

    <!--Timer -->

    <div class="row justify-content-center">
      <div class="col-lg-12 mb-30">

        <div class="rounded bg-faded  padding-top-3x padding-bottom-3x">
          <div class="text-center">
            <div class="countdown mb-3" data-date-time="12/30/2019 12:00:00">
              <div class="item">
                <span> remaining auction time </span>
            </div>
            <div class="item">
              <div class="days">00</div><span class="days_ref">Days</span>
            </div>
            <div class="item">
              <div class="hours">00</div><span class="hours_ref">Hours</span>
            </div>
            <div class="item">
              <div class="minutes">00</div><span class="minutes_ref">Mins</span>
            </div>
            <div class="item">
              <div class="seconds">00</div><span class="seconds_ref">Secs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- where to put the expression -->
  <div class="card">
    <div class="card-body">
      A description of the work is written here. The following works are on the open market.
      These are the details you see when you select a work.
    </div>
  </div>



  <!--Comments -->
<!--  댓글 등록-->
<script>
  // 댓글 저장 TODO - 댓글 로직 짜기
  $('#submit').on('click',function(){


  // 입력한 댓글 불러오기
  let data = {
    comment : $("#comment-input").val()
  };

  // 데이터 받아왔는지 로그 출력
  console.log(data);
  console.log(JSON.stringify(data));

  // ajax 통신
  $.ajax({
  url : "/auction/comment/${comment.id}",  // 데이터 요청할 경로 지정
  type: "POST",                   // 방식 : POSt
  data: JSON.stringify(data),     // JSON 데이터를 string화 시킴

  success:function(result){
  $("comments-result").html(result.id);
    $("comments-result").html(result.comment);
    $("comments-result").html(result.nickName);
    $("comments-result").html(result.time);
    console.log(result.id);
    console.log(result.comment);
    console.log(result.nickName);
    console.log(result.time);


  },
  });
  });
</script>

    <form id = "commentInfo">
  <!-- Comment window -->
  <div id="comment-count">댓글 <span id="count">0</span></div>
  <div id = "comments" class = flex-container></div>


  <!-- Comment window -->
  <div class = "container-comment">
    <label name = "comment"><i class="fas fa-user"></i></label>
    <div id="form-commentInfo">
      <input  id =" comment-input " placeholder =" Please enter a comment. ">
      <button id="submit" class="btn float-right">댓글 작성</button>
    </div>

  </div>
    </form>

  <!-- Recently viewed works -->
  <div id = "recent-work">

    <h4> Works similar to the work you are looking at </h4>

  <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
    <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/cucumber-png/cucumber-png-image-purepng-transparent-png-26.png">
      <div class="card-body">
        <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
        <div class="d-flex align-items-center justify-content-between pt-3">
          <div class="d-flex flex-column">
            <div class="h6 font-weight-bold">작품A</div>
          </div>
          <div class="h6 font-weight-bold">2ETH</div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--  </div>  -->




</div>


</div>

<div layout:fragment="script">
  <script>

    let  index =  {
      init: function () {
        $ ( "#offer" ) . on ( "click" ,  ( )  =>  {  //function(){}, ()=>{} to bind this
          this . save ( ) ;
        } ) ;
      } ,
      save:function (){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let data = {
          offerPrice: $("#price").val()
        } ;
        console . log ( data ) ;  // javascript object
        console.log(JSON.stringify(data));
        $ . ajax ( {
          type: "POST",
          url: "/auction/suggest/detail/[[${work.id}]]",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          beforeSend : function(xhr)
          {    /*Set the csrf value in the header before sending data */
            xhr.setRequestHeader(header, token);
          } ,
        }).done(function (resp) {
          $('#priceSuggest').html(resp.maxPrice);
          $('.modal-body').html(resp.status);
          $('#exampleModal').modal();
        }).fail(function (error) {
          alert(JSON.stringify(error));
        } ) ;


      }


    }
    index.init();
  </script>
</div>
</body>
</html>