<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}"
      th:with="activeTab='workdetail', title='Welcome!'">
<head>
  <meta charset="utf-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css}" >
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}" >
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css}" >
  <link rel="stylesheet" th:href="@{/css/member/login.css}" >


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>






  <title>작품 상세보기</title>
  <script>
    // 타이머
    timer = setInterval( function () {

      $.ajax ({
        type: 'GET',
        url : "/auction/computeAutionTime/[[${work.id}]]",
        dataType: 'json',
        success : function (result) {
          if(result.status === "notExistAuction"){
            $('#remain_price').html(result.result);
          }else{
            $('.days').html(result.days);
            $('.hours').html(result.hours);
            $('.minutes').html(result.minutes);
            $('.seconds').html(result.seconds);
          }
        }
      });
    }, 1000);

    // 좋아요 버튼 클릭시
    $(function(){
      $("#addlike").click(function(){
        $.ajax({
          url : "/work/like/[[${work.id}]]",
          type: 'GET',
          contentType: "application/json; charset=utf-8",
          dataType: 'json',
          success : function(result){
            $('#countLike').html(result.count);

          }
        })
      })
    });


  </script>
  <link rel="stylesheet" th:href="@{/css/work/workdetail.css}" >

  <style>
    .sidebar-section {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .sidebar-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .sidebar-icon{
      height: 50px;
      width: 50px;
      border: none;
      color: #eee;
      background: #fff;
    }
    .sidebar-icon.active{
      color:tomato;
    }
    .sidebar-icon:hover{
      color: tomato;
    }
    .auction-time{
      font-size: 30px;
      font-weight: 500;
    }
    .workInfoBx{
      display: flex;
      justify-content: center;
    }

  </style>

</head>
<body>
<section layout:fragment="content">
    <!-- 기본  Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
          <div class="text-center align-items-center mid ">
            <div class="modal-logo"><img src="https://imgur.com/N1vwiAJ.png"></div>
            <div class="modal-body pb-2">

            </div>
            <div class="modal-footer d-flex justify-content-center mb-3"> <button type="button" class="btn btn-block btn-outline-info" data-dismiss="modal" id="confirm" >확인</button> </div>
          </div>
        </div>
      </div>
    </div>

  <!-- 경매가 제안 Modal -->
  <div class="modal fade" id="auctionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
        <div class="text-center align-items-center mid">
          <div class="modal-logo"><img src="https://imgur.com/N1vwiAJ.png"></div>
          <div class="modal-body pb-2">

          </div>
          <div  class="pb-2" >
            <input type="number" class="form-control mt-2" placeholder="경매가 입력 (ex. 3ETH)" id="price">
          </div>
          <div class="modal-footer d-flex justify-content-center mb-3"> <button type="button" class="btn btn-block btn-outline-info" data-dismiss="modal" id="offer" >offer</button> </div>
        </div>
      </div>
    </div>
  </div>


  <!--경매 사진 및 가격제안-->

  <div class="container" >
    <div class="row workInfoBx">
      <div class="px-4">
        <img id="workpircture" th:src="${work.filePath}" style="border: 1px solid black; width: 300px; height: 300px;">
      </div>
      <div class="px-4">
        <h4 class="pt-3" id="workid" th:text="${work.title}" th:value="${work.id}">작품A</h4>
        <p>Masterpiece A</p>
        <p>created by 작가이름</p>
        <button class="sidebar-icon col-12 mt-2" id="addlike" sec:authorize="isAuthenticated()">
          <i class="fas fa-heart fa-2x"></i>
        </button>
        <span>인기도 :</span>
        <span class="textmuted" th:id= "countLike" th:text="${work.popularity}"></span>
        <div class="mb-4">
          <span class="fw-bold mt-3" id="remain_price"></span>
          현재 경매가 : &nbsp;
          <span class="ml-4" th:text="${work.auction.winingBid + ' &nbsp;ETH'}" th:id="priceSuggest" style="font-size:30px;"> 2ETH</span>
        </div>
        <!--        todo: sec:authorize 지우고 로직 맞게 쓰기 (if 구매자가 맞다면 버튼 보이기) -->
        <div class="btn btn-block btn-outline-info col-12" id="suggest">경매가제시하기 </div>
        <div sec:authorize="isAuthenticated()" class="btn btn-block btn-outline-info col-12" id="buy">구매하기 </div>
        <div class="col-12 mb-4 ">
        </div>
      </div>



    </div>
  </div>
    </div>

  </div>


  <!-- 클릭 시 좋아요 버튼 active 하는 스크립트 -->
<!--  <script>-->
<!--    function btnClick(){-->
<!--      const menuRed = document.querySelector('.sidebar-icon');-->
<!--      menuRed.classList.toggle('active');-->
<!--    }-->
<!--  </script>-->

  <div class="container py-md-0 py-3" id="timer" style = " margin-top:50px " >

    <!-- 작품 정보 및  가격 제안 -->
    <!--   <div id = "work-detail"> -->

    <!--타이머 -->


    <div class="row justify-content-center">
      <div class="col-lg-12 mb-30">

        <div class="rounded bg-faded  padding-top-3x padding-bottom-3x">
          <div class="text-center">
            <div class="countdown mb-3" data-date-time="12/30/2019 12:00:00">

              <h5>남은 경매 시간</h5>
              <div class="auction-time">
                <span class="days mx-1">00</span>
                <span class="hours mx-1">00</span>
                <span class="minutes mx-1">00</span>
                <span class="seconds mx-1">00</span>
              </div>
              <div>Days &nbsp; Hours &nbsp; Mins &nbsp; Secs</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--  표현식을 넣을 위치 -->
    <div class="card my-5">
      <div class="card-body">
        작품에 관한 설명이 이곳에 작성됩니다. 다음의 작품은 오픈마켓에서
        작품을 선택하였을 때 보이는 상세내용 입니다.
      </div>
    </div>




    <!--댓글 -->

    <div class="comment-area py-1 my-5" style="background-color: #f3f3f3;">
      <!-- 댓글 달릴 창 -->
      <div class="container my-3">
        <div id="comment-count">댓글 <span id="count">0</span></div>
        <div id = "comments" class = flex-container></div>
      </div>

      <!-- 댓글 달 창 -->
      <div class="container py-3">
        <div id="form-commentInfo py-3">
          <label name ="comment"><i class="fas fa-user fa-2x col-1"></i></label>
          <input id="comment-input" placeholder="댓글을 입력해 주세요." class="col-10">
          <button id="submit" type="button" class="btn btn-outline-dark float-right px-2">댓글 작성</button>

        </div>
      </div>
    </div>


    <!-- 최근 본 작품들 -->
    <div id = "recent-work">

      <h4>보고 있는 작품과 비슷한 작품</h4>

      <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/cucumber-png/cucumber-png-image-purepng-transparent-png-26.png">
          <div class="card-body">
            <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
            <div class="d-flex align-items-center justify-content-between pt-3">
              <div class="d-flex flex-column">
                <div class="h6 font-weight-bold">작품A</div>
              </div>
              <div class="h6 font-weight-bold">2ETH</div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!--  </div>  -->





  </div>

  </div>
</div>


  <div layout:fragment="script">
    <script th:src="@{/js/work/workdetail.js}"></script>
    <script>

      let index= {
        init: function () {
          $("#offer").on("click", () => { //function(){}, ()=>{}this를 바인딩하기 위해
            this.save();
          });
        },
        save:function (){
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          let data = {
            offerPrice: $("#price").val()
          };
          console.log(data); // 자바스크립트 오브젝트
          console.log(JSON.stringify(data));
          $.ajax({
            type: "POST",
            url: "/auction/suggest/detail/[[${work.id}]]",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
              xhr.setRequestHeader(header, token);
            },
          }).done(function (resp) {
            $('#priceSuggest').html(resp.maxPrice);
            $('.modal-body').html(resp.status);
            $('#exampleModal').modal();
          }).fail(function (error) {
            alert(JSON.stringify(error));
          });


        }




      }
      index.init();


    </script>

  </div>
</section>
</body>
</html>