<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='comment'">
<head>

</head>
<body>

<div layout:fragment="my_content(currentTab)">
<div class="mypage-content">
    <div class="container p-5 mb-2">
        <h2>작성 댓글 보기</h2>

        <table class="table table-sm mt-3">
            <thead class="thead-light">
            <tr>
                <th>번호</th>
                <th>작품명</th>
                <th>내용</th>
                <th>날짜</th>
            </tr>
            </thead>
            <div class="row" th:if="${status} == 'Exist'">
                <tr th:each="comment : ${commentVoList}" class="mx-3">
                    <td th:text="${comment.num}"></td>
                    <td th:text="${comment.work.title}"></td>
                    <td th:text="${comment.contents}"></td>
                    <td th:text="${comment.creatAt}"></td>
                </tr>
            </div>
        </table>


<!--        <button class="btn btn-outline-danger float-right">삭제하기</button>-->

    </div>
</div>
</div>
</body>
</html>