<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='comment'">
<head>

</head>
<body>

<div layout:fragment="my_content(currentTab)">
<div class="mypage-content">
    <div class="container p-5">
        <h2>작성 댓글 보기</h2>
        <p>Total : 12</p>

        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th>번호</th>
                <th>내용</th>
                <th>날짜</th>
                <th>추천수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>댓글 내용~~~~</td>
                <td>2021.08.11</td>
                <td>2</td>
            </tr>
            <tr>
                <td>2</td>
                <td>222222</td>
                <td>2021.08.11</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>33333333</td>
                <td>2021.08.11</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>


        <button class="btn btn-outline-danger float-right">삭제하기</button>

    </div>
</div>
</div>
</body>
</html>