<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='like'">

<head>
</head>
<body>
<div layout:fragment="my_content(currentTab)">
    <div class="mypage-like">
        <div class="container p-5">
            <h2>관심 작품</h2>
            <hr/>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>작품 정보</th>
                    <th>작품 상태</th>
                    <th>
                        <a>선택</a>
                    </th>
                </tr>
                </thead>

                <div class="row" th:if="${status} == 'Exist'">
                    <td></td>
                    <div th:each="like : ${likeVoList}" class="mx-3">

                        <td>
                            <img th:src="${like.filePath}" style="border: 1px solid black; width: 120px; height: 120px;">
                        </td>

                        <td>
                            <div>
                                <b th:text="${like.title}"></b>
                                <br/>
                            <small th:text="${like.date}"><br/>
                            </small><br/>
                                <i class="fas fa-heart"><div th:text="${like.popularity}"></div></i>
                                <i class="fas fa-comment"><div th:text="${like.comment_cnt}"></div></i>
                            </div>
                        </td>

                        <td th:text="${like.autionType}">
                        </td>


                    </div>
                </div>
                <div th:unless="${status} == 'notExist'">
                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>