<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='like'">

<head>
</head>
<body>
<div layout:fragment="my_content(currentTab)">
    <div class="mypage-like">
        <div class="container p-5">
            <h2>관심 작품</h2>
            <hr/>
            <div class="row" th:if="${like} == 'Exist'">
                <div th:each="work : ${likeVoList}" class="mx-3">
                    <img th:src="${like.filePath}">
                    <p th:text="${like.title}">작품 제목</p>
                </div>
            </div>
            <div th:unless="${like} == 'Exist'">
                <p>관심 작품이 없습니다.</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>