<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='notice'">
<head>
    <style>
        .myNoticeContainer{
            width: 100%;
            min-height: 150px;
            border: 2px dotted black;
            padding-top:20px;
            margin: 5px;
        }
        .myNoticeContainer p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<div layout:fragment="my_content(currentTab)">
<div class="container p-5">
    <div class="myTitle" style="font-size: 30px;">
        <span><i class="fas fa-bell"></i></span>
        <span>notification</span>
        <span class="float-right">
                <i class="fas fa-cog"></i>
            </span>
    </div>
    <div class="myNoticeBox">
        <div class="myNoticeContainer">
            <p>21.08.30 17:42:42</p>
            <p>알림 내용</p>
        </div>
    </div>
    <div class="myNoticeBox">
        <div class="myNoticeContainer">
            <p>21.08.30 17:42:42</p>
            <p>알림 내용</p>
        </div>
    </div>
</div>

</div>
</body>
</html>