<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='upload'">
<head>
<style>
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
</style>
</head>
<body>

<div layout:fragment="my_content(currentTab)">
    <div class="container p-5">
        <h2>업로드 한 작품</h2>
        <hr/>
        <div class="row mt-3" th:if="${status} == 'Exist'">
           <div th:each="work : ${workVoList}" class="mx-1">
                <img th:src="${work.filePath}">
                <h3 th:text="${work.title}" class="mt-3">작품 제목</h3>
                <p th:if="${work.checkToken} == true">nft 등록 완료된 작품입니다.</p>
               <div th:if="${work.checkToken} == false">
                <p>nft 미등록 된 작품입니다.</p>
                   <a class="btn btn-dark btn-sm col-12" th:href="@{/regauction}">NFT 등록하러 가기</a>
               </div>
                <p th:text="${work.date}">업로드 한 날짜</p>
            </div>
        </div>
        <div th:unless="${status} == 'Exist'">
            <p>등록된 작품이 없습니다.</p>
        </div>

    </div>
</div>
</div>
</body>
</html>