<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='wallet'">
<head>

</head>
<body>

<div layout:fragment="my_content(currentTab)">
    <div class="container p-5">
        <h2>지갑</h2>
        <hr/>
        <div class="ethBox">
            <h4>보유 ETH</h4>
            <input type="text" placeholder="Account">
            <button class="button btn-dark my-1">보유 ETH 확인</button>
            <p class="my-4"><b>Balance : </b></p>

            <!-- balance 값이 들어갈 부분 -->
            <p></p>

            <hr/>
        </div>
        <div class="nftBox">
            <h4>보유 NFT</h4>
            <input type="text" placeholder="Account">
            <button class="button btn-dark my-1">보유 NFT 확인</button>
            <p class="my-4"><b>NFT : </b></p>

            <!-- 보유 nft 값이 들어갈 부분 -->
            <p></p>

            <hr/>
        </div>
</div>
</body>
</html>