<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/my_layout.html}" th:with="currentTab='wallet'">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <script th:src="@{/js/web3.min.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 300px;
        }
        hr{
            width:100%;
        }
    </style>
</head>
<body>

<div layout:fragment="my_content(currentTab)">
    <div class="p-5">
    <label class="control-label"><h3>지갑</h3></label>
        <div class="container">
            <input id="Account" type="hidden" th:value="${member.walletId}">
            <p>나의 계좌 : &nbsp &nbsp &nbsp <input class="form-control mb-4" style="width:400px" id="From" type="text" th:value="${member.walletId}" readonly> </p>
            <p>Balance : <input id="Balance" type="text" class="form-control" style="width: 400px"></p>
            <button id="checkBalance" class="btn btn-dark btn-sm" style="width:400px">보유 ETH 확인</button>
        </div>
    </div>

    <script>

        $( document ).ready(function() {
            console.log( "ready!" );

            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
            } else {
                web3 = new Web3(new Web3.providers.HttpProvider("htTtp://localhost:8545"));
            }

            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            web3.eth.getNodeInfo(function(error, result){
                if(error){
                    console.log( "error" ,error);
                }
                else{
                    console.log( "result",result );
                    $('#NodeInfo').val(result);
                }
            });


            web3.eth.getAccounts(function(error, accounts) {
                if(error) {
                    console.log(error);
                }
                $('#Account').val(accounts[0]);
                web3.eth.getBalance(accounts[0]).then(function(result){
                    console.log( "Balance : " ,web3.utils.fromWei(result, 'ether'));
                    $('#Balance').val(web3.utils.fromWei(result, 'ether'));
                });
            });

            $('#checkBalance').click(function() {
                var _account = $('#Account').val();
                web3.eth.getBalance(_account).then(function(result){
                    console.log( "Balance : " ,web3.utils.fromWei(result, 'ether'));
                    $('#Balance').val(web3.utils.fromWei(result, 'ether'));
                    $('#Balance').text(txn_hash);

                });
            });


            $('#Transfer').click(function() {
                $('#Tx').text('');
                var _from = $('#From').val();
                var _to = $('#To').val();
                var _Amount = $('#Amount').val();
                var txnObject = {
                    "from":_from,
                    "to": _to,
                    "value": web3.utils.toWei(_Amount,'ether'),
                }

                web3.eth.sendTransaction(txnObject, function(error, result){
                    if(error){
                        console.log( "Transaction error" ,error);
                    }
                    else{
                        var txn_hash = result;
                        $('#Tx').text(txn_hash);
                    }
                    let data = {
                        id: $("#workId").val()
                    };
                    console.log(data); // 자바스크립트 오브젝트
                    console.log(JSON.stringify(data));
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $.ajax({
                        type: 'POST',
                        url: '/auction/transfer', // 요청보낼 주소
                        data: JSON.stringify(data),
                        beforeSend : function(xhr)
                        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                            xhr.setRequestHeader(header, token);
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',   // 응답의 content-type (json 타입으로 받겠다!)

                        success: function (result){ // 요청을 성공적으로 했다면
                            alert("결제가 완료 되었습니다");
                        }
                    });

                });
            });
        });

    </script>
</div>
</body>
</html>