<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="currentTab='info'"
      layout:decorate="~{fragments/my_layout.html}">
<head>
</head>
<body>
<div layout:fragment="my_content(currentTab)">
    <div class="container p-5">
    <h2>회원 정보 수정</h2>
    <form th:action="@{/mypage}" method="post" name="modifyForm" novalidate>
        <!-- 아이디 -->
        <div class="form-group mt-4">
            <div class="col-9 px-0">
                <div class="mt-3">
                    <label th:name="label">닉네임</label>
                    <input th:type="text"  th:value="${member.nickname}" class="form-control" th:id="nickname" th:name="nickname" th:label="nickname">
                </div>
                <input type="submit" class="btn btn-dark btn-sm my-3 col-12 float-right" value="정보 수정하기">
            </div>
        </div>
    </form>
    </div>
</div>
</body>
</html>