*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.commonheader body{
    overflow-x: hidden;
}
.info_logo{
    margin-bottom: 10px;
    margin-top: 10px;
}
.infoBx{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'East Sea Dokdo', cursive;
    color: #fff;
}
section{
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1000; */
}
header .logo{
    position: fixed;
    /*height: 40px;*/
    /*color: #111;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    animation: slideLeft 0.5s ease-in-out forwards;
}
header .logo img{
    height: 50px;
    width: auto;
}
header .toggle{
    position: fixed;
    top: 30px;
    right: 100px;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(/images/menu.png) no-repeat center;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}
header .toggle.active{
    background-size: 25px;
    background: url(/images/close.png) no-repeat center;
    cursor: pointer;
}
.navigation{
    position: fixed;
    display: flex;
    right: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 2;
}
.navigation.active{
    opacity: 1;
    visibility: visible;
}
.navigation li{
    list-style: none;
}
.navigation li a {
    color: #111;
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;
    opacity: 0;
}
.navigation.active li a {
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slideRight {
    0%{
        transform: translateX(150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px){
    section{
        padding: 80px 20px;
    }
    header{
        padding: 10px 20px;
        height: 70px;
    }
    header .toggle.active{
        background-size: 25px;
        background: url(/images/close.png) no-repeat center;
        cursor: pointer;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navigation.active li a{
        margin: 5px 10px;
        display: inline-block;
        letter-spacing: 1px;
        font-size: 20px;
    }
}


.useraction {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: 0.8s;
}
.useraction .userprofile{
    position: fixed;
    top:0;
    right:0;
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    overflow: hidden;
    cursor: pointer;
    font-size: 35px;
    color: #40a798;
    z-index: 1;
}
/* .useraction .userprofile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 20px;
} */
.useraction .usermenu{
    position: relative;
    top: 80px;
    right: 10px;
    padding: 10px 20px;
    background: #40a798;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.useraction .usermenu.active{
    visibility: visible;
    opacity: 1;
}
.useraction .usermenu ::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 20px;
    width: 20px;
    height:20px;
    background: #40a798;
    transform: rotate(45deg);
}
.useraction .usermenu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #fff;
    line-height: 1.2em;
}
.useraction .usermenu span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.useraction .usermenu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.useraction .usermenu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    transition: 0.5s;
}
.useraction .usermenu ul li:hover a{
    color: #fff;
    font-weight: 500;;
}
